@using EgBlazorComponents.Demo.Models
@page "/Table"

<div>
	Message: @Message
</div>

<EgTable DataContext="@WordData"
		 Searchable="true" 
		 Pageable="true" Total="@TotalWords" PageSize="@PageSize"
		 OnRead="@OnReadAsync">
	<EgColumn Field="Priority">
		<Template>
			@{
				var priority = (context as WordModel).Priority;

				@if (priority == Priority.High)
				{
					<div class="text-warning">@priority</div>
				}
				else
				{
					<div class="text-success">@priority</div>
				}
			}
		</Template>
	</EgColumn>
	<EgColumn Field="Word" />
	<EgCommandColumn Title="Action">
		<EgCommandButton Caption="Delete" OnClick="OnDeleteCommandButtonClickAsync" />
		<EgCommandButton Caption="Edit" OnClick="OnEditCommandButtonClickAsync" />
		<EgCommandButton Caption="Disabled" />
	</EgCommandColumn>
</EgTable>
